/*加载动画*/
.loading-img {
  background: url(https://imag.heyjian.top/1.jpg) no-repeat center center;
  background-size: cover;
}

/*导航栏美化*/
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -110px;
}
.menus_items .menus_item:nth-child(3) .menus_item_child {
    left: -7px;
}